# (C) DynareTeam 2017
#
# This file is part of dynare-build project. Sources are available at:
#
#     https://gitlab.com/DynareTeam/dynare-build.git
#
# Dynare is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Dynare-build is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Dynare.  If not, see <http://www.gnu.org/licenses/>.

# ## ----------------
# ## Unstable version
# ## ----------------

GIT_REMOTE=https://github.com/DynareTeam/dynare.git
GIT_BRANCH=master
VERSION=

## ------
## MATLAB
## ------

MATLAB_PATH=/usr/local/MATLAB/R2016a
MATLAB_VERS=2016a

## --------------
## DYNARE VERSION
## --------------

DYNARE_VERSION=4.5.0
RELEASE=1

## -------------
## BUILD OPTIONS
## -------------

N_SNAPSHOTS_TO_KEEP=10

BUILD_INTERNAL_DOC=0

PUSH_INTERNAL_DOC=0
PUSH_SNAPSHOT_SOURCE=0
PUSH_SNAPSHOT_ZIP=0
PUSH_SNAPSHOT_EXE=0

## ---------
## SIGNATURE
## ---------

SIGN_DYNARE=0

## --------------
## REMOTE OPTIONS
## --------------

REMOTE_SNAPSHOT_NAME=snapshot
REMOTE_SERVER=your-server.org
REMOTE_USER=toto
REMOTE_PATH=/srv/titi/tat/
