parallel libtool pkg-config libssl-dev libcurl4-openssl-dev flex bison libsuitesparse-dev texlive texlive-publishers texlive-extra-utils texlive-formats-extra texlive-latex-extra texlive-math-extra texlive-fonts-extra latex-beamer texinfo texi2html latex2html doxygen gcc-multilib g++-multilib gfortran-multilib nsis zip libboost-dev
